{% extends 'hf.html' %} 
{% load static %} 
{% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />
<style>
  .contain{
    opacity: .8;
    margin: 13% 15% 0% 15% ;
    padding-bottom: 5%;
    display: flex;
  }
  td,tr{
    padding: 1%;
  }
  .card-link{
    color: rgb(43, 198, 226);
  }
  .card-link:hover{
    color: rgb(98, 43, 226);
  }
</style>
{% endblock %} 
{% block title %}Admin Panel{% endblock %} 
{% block bodyedit %}
class="img js-fullheight" style="background-image: url({% static 'login/images/bga.jpg' %});" 
{% endblock %} 
{% block ul %}
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block" style="padding-right: 8%;">
    <!-- <li class="has-children">
        <a href="about.html"><span>Dropdown</span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Menu One</a></li>
          <li><a href="#">Menu Two</a></li>
          <li><a href="#">Menu Three</a></li>
          <li class="has-children">
            <a href="#">Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li><a href="#">Menu Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->

    <li class="{% block ad1 %} {% endblock %}">
      <a href="/admin/viewusers/"><span>View Users</span></a>
    </li>
    <li class="{% block ad2 %} {% endblock %}">
      <a href="/admin/viewpartners/"><span>View Partners</span></a>
    </li>
    <li class="{% block ad3 %} {% endblock %}">
      <a href="#"><span>test</span></a>
    </li>
    <li class="has-children">
      <a href="#"><span></span></a>
      <ul class="dropdown arrow-top">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
  </li>
</ul>
  </ul>
{% endblock %}

{% block body %}
<div class="contain">
  <table width="50%" height="20%">
    <tr>
      <td>
<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h5 class="card-title">Total Number of Users</h5>
    <p class="card-text" style="font-weight: bolder;color: black;font-size: 50px;">{{ tu }}</p>
    <a href="/admin/viewusers/" class="card-link">View Users</a>
  </div>
</div>
</td>
<td style="padding-left: 10%;">
  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title">Total Number of Partners</h5>
      <p class="card-text" style="font-weight: bolder;color: black;font-size: 50px;">{{ tp }}</p>
      <a href="/admin/viewpartners/" class="card-link">View Partners</a>
    </div>
  </div>
  </td>
</tr>
<tr>
  <td>
<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h5 class="card-title">Total Number of Partners</h5>
    <h6 class="card-subtitle mb-2 text-muted">Verified</h6>
    <p class="card-text"style="font-weight: bolder;color: black;font-size: 50px;">{{ tpa }}</p>
    <a href="/admin/approvedp/" class="card-link">View</a>
  </div>
</div>
</td>
<td style="padding-left: 10%;">
  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title">Total Number of Partners</h5>
      <h6 class="card-subtitle mb-2 text-muted">Verify Partner</h6>
      <p class="card-text"style="font-weight: bolder;color: black;font-size: 50px;">{{ tpna }}</p>
      <a href="/admin/approvals/" class="card-link">Approve Partner</a>
    </div>
  </div>
  </td>
</tr>
</table>

</div>


{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
