{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'header/fonts/icomoon/style.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'header/css/owl.carousel.min.css' %}"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'header/css/bootstrap.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'header/css/style.css' %}" />

    <!--footer css-->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'footer/fonts/icomoon/style.css' %}"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'footer/css/bootstrap.min.css' %}" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'footer/css/style.css' %}" />
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>

    <style>
      * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
      }
      .main {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 10fr 1fr;
      }
      .hed {
        grid-row: 1/2;
      }
      .cont {
        grid-row: 2/3;
      }
      .foot {
        grid-row: 3/4;
      }
    </style>
  </head>
  <body {% block bodyedit %} {% endblock %}>
    <div class="main">
      <!--Head part-->
      <div class="hed">
        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar" role="banner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo">
                  <a href="/" class="text-white mb-0">Autocare</a>
                </h1>
              </div>
              <div class="col-12 col-md-10 d-none d-xl-block">
                <nav
                  class="site-navigation position-relative text-right"
                  role="navigation"
                >
                {% block ul %}
                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <!-- <li class="has-children">
                        <a href="about.html"><span>Dropdown</span></a>
                        <ul class="dropdown arrow-top">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                          <li class="has-children">
                            <a href="#">Dropdown</a>
                            <ul class="dropdown">
                              <li><a href="#">Menu One</a></li>
                              <li><a href="#">Menu Two</a></li>
                              <li><a href="#">Menu Three</a></li>
                              <li><a href="#">Menu Four</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li> -->

                    <li class="{% block a3 %} {% endblock %}">
                      <a href="/partner/"><span>Partner With us</span></a>
                    </li>
                    <li class="{% block a4 %} {% endblock %}">
                      <a href="/registration/"><span>Register</span></a>
                    </li>
                    <li class="{% block a5 %} {% endblock %}">
                      <a href="/"><span>Login</span></a>
                    </li>
                  </ul>
                  {% endblock %}
                </nav>
              </div>
            </div>
          </div>
        </header>
      </div>
      <!--Content part-->
      <div class="cont">
          {% block body %} {% endblock %}
      </div>
      <!--Footer part-->
      <div class="foot">
        <!-- Footer -->
        <footer class="footer-59391" style="padding: 1%;">
          <!-- <div class="border-bottom pb-5 mb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 text-lg-center">
            <ul class="list-unstyled nav-links nav-left mb-4 mb-lg-0">
              <li><a href="#">Features</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled nav-links social nav-right text-lg-right">
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
          <div class="container">
            <div class="row align-items-center">
              <div
                class="col-lg-4 text-lg-center site-logo order-1 order-lg-2 mb-3 mb-lg-0"
              >
                <a href="/" class="m-0 p-0">Autocare</a>
              </div>
              <div class="col-lg-4 order-2 order-lg-1 mb-3 mb-lg-0">
                <ul class="list-unstyled nav-links m-0 nav-left">
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>

              <div class="col-lg-4 text-lg-right order-3 order-lg-3">
                <p class="m-0 text-muted">
                  <small>&copy; 2019. All Rights Reserved.</small>
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="{% static 'footer/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'footer/js/popper.min.js' %}"></script>
    <script src="{% static 'footer/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'header/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'header/js/popper.min.js' %}"></script>
    <script src="{% static 'header/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'header/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'header/js/main.js' %}"></script>
    {% block js %} {% endblock %}
  </body>
</html>
