{% extends 'hf.html' %} {% load static %} {% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />
{% endblock %} 
{% block title %}Partner Registration{% endblock %} 
{% block bodyedit %} 
style="
background-image: url({% static 'login/images/bg.jpg' %});
height:900px;
background-size: cover;
background-repeat: no-repeat;

" 
{% endblock %} 
{% block a3 %}active {% endblock %}
{% block body %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" style="width:35%;position: fixed; margin-top: 7%;margin-bottom: 0%;">
      {{ message }}
    </div>    
    {% endfor %}
{% endif %}

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Partner Registration</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <form action="submit/" method="post" class="signin-form">
            {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Shop's Name"
                name="sname"
                
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Name of the owner"
                name="oname"
                
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Phone Number"
                name="phone"
                
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                placeholder="Address"
                name="address"
                
              ></textarea>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="License Number"
                name="license"
                
              />
            </div>
            <div class="form-group">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                
              />
              <span
                toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary submit px-3"
              >
                Sign Up
              </button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50"></div>
            </div>
          </form>
          <style>
            a:hover {
              color: rgb(39, 198, 238);
            }
          </style>
          <p class="w-100 text-center">
            &mdash; <a href="/">Already have an Account</a> &mdash;
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
