{% extends 'hf.html' %} 
{% load static %} 
{% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />

<link type="text/css" rel="stylesheet" href="{% static 'booking/css/style.css' %}" />

<style>

</style>


{% endblock %} 
{% block title %}Partner Page{% endblock %} 
{% block bodyedit %}
class="img js-fullheight" style="background-image: url({% static 'login/images/bgp.jpg' %});" 
{% endblock %} 
{% block ul %}
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block" style="padding-right: 8%;">
    <!-- Dropdown
        <li class="has-children">
        <a href="about.html"><span>Dropdown</span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Menu One</a></li>
          <li><a href="#">Menu Two</a></li>
          <li><a href="#">Menu Three</a></li>
          <li class="has-children">
            <a href="#">Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li><a href="#">Menu Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->

    <li class="{% block ad1 %} {% endblock %}">
      <a href="/partner/bids/"><span>Bids</span></a>
    </li>
    <li class="{% block ad2 %} {% endblock %}">
      <a href="about.html"><span>About</span></a>
    </li>
    <li class="{% block ad3 %} {% endblock %}">
      <a href="#"><span>test</span></a>
    </li>
    <li class="has-children">
        <a href="#"><span></span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="/logout/">Logout</a></li>
        </ul>
    </li>
  </ul>
{% endblock %}
{% block body %}

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" style="width:35%;position: fixed; margin-top: 7%;margin-bottom: 0%;">
      {{ message }}
    </div>    
    {% endfor %}
{% endif %}

<div id="booking" class="section" style="margin-top:10%;padding-top: 0%;">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Fill the details</h1>
          </div>
          <form action="/partner/submitoffer/" method="post">
            {% csrf_token %}
            <div class="form-group col-md-8">
              <input type="number" style="display: none;" name="bid" value="{{ bid }}">
              <input type="text" class="form-control" value="Booking Id {{ bid }}" disabled>
            </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" name="wname" placeholder="Worker Name" required>
              </div>
              <div class="form-group col-md-8">
                <input type="number" class="form-control" name="wphone" placeholder="Worker Phone Number" required>
              </div>
              <div class="form-group col-md-8">
                <input type="number" class="form-control" name="rate" placeholder="Base Rate for the work" required>
              </div>
            <div class="form-btn">
              <input type="submit" value="Submit" class="submit-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
