{% extends 'hf.html' %} 
{% load static %} 
{% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />

<link type="text/css" rel="stylesheet" href="{% static 'booking/css/style.css' %}" />

<style>
  .username{
    width: 90%;
    margin-top: 11%;
    margin-left: 2%;
    padding-left: 3%;
    background-color: rgba(7, 7, 7, 0.5);
    border-radius: 5%;
    border: 1px dotted white;
  }
  .username h2{
    color: white;
    font-family: Imprint MT Shadow;
  }
</style>


{% endblock %} 
{% block title %}Home{% endblock %} 
{% block bodyedit %}
class="img" style="background-image: url({% static 'login/images/bgu.jpg' %});" 
{% endblock %} 
{% block ul %}
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block" style="padding-right: 8%;">
    <!-- <li class="has-children">
        <a href="about.html"><span>Dropdown</span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Menu One</a></li>
          <li><a href="#">Menu Two</a></li>
          <li><a href="#">Menu Three</a></li>
          <li class="has-children">
            <a href="#">Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li><a href="#">Menu Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->

    <li class="{% block ad1 %} {% endblock %}">
      <a href="/user/mybookings"><span>My Bookings</span></a>
    </li>
    <li class="{% block ad2 %} {% endblock %}">
      <a href="/user/viewoffers/"><span>Offers</span></a>
    </li>
    <li class="has-children {% block ad3 %} {% endblock %}">
      <a href="#"><span>Orders</span></a>
      <ul class="dropdown arrow-top">
        <li><a href="/user/myorders/">My Orders</a></li>
        <li><a href="/user/orders/">Details</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#"><span>Profile</span></a>
      <ul class="dropdown arrow-top">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
  </li>
</ul>
  </ul>
{% endblock %}
{% block body %}

<div class="username">
  <h2><strong>Welcome &ensp; {{ name }}</strong></h2>
</div>

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" style="width:35%;position: fixed; margin-top: 7%;margin-bottom: 0%;">
      {{ message }}
    </div>    
    {% endfor %}
{% endif %}

<div id="booking" class="section" style="padding-top: 0%;">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Book For A Service</h1>
          </div>
          <form action="/user/submitbooking/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="details" placeholder="Describe Your Problem" cols="30" rows="6"></textarea>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <select name="category" class="form-control" required>
                    <option value="" selected hidden>Select Category</option>
                    <option>Two Wheeler</option>
                    <option>Three Wheeler</option>
                    <option>Four Wheeler</option>
                    <option>Heavy Vehicle</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="form-btn">
              <input type="submit" value="Submit" class="submit-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
