{% extends 'hf.html' %} 
{% load static %} 
{% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />

{% endblock %} 
{% block title %}Home{% endblock %} 
{% block bodyedit %}
class="img js-fullheight" style="background-image: url({% static 'login/images/bgu.jpg' %});" 
{% endblock %} 
{% block ul %}
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
    <!-- <li class="has-children">
        <a href="about.html"><span>Dropdown</span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Menu One</a></li>
          <li><a href="#">Menu Two</a></li>
          <li><a href="#">Menu Three</a></li>
          <li class="has-children">
            <a href="#">Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li><a href="#">Menu Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->

    <li class="{% block ad1 %} {% endblock %}">
      <a href="listings.html"><span>Listings</span></a>
    </li>
    <li class="{% block ad2 %} {% endblock %}">
      <a href="about.html"><span>About</span></a>
    </li>
    <li class="{% block ad3 %} {% endblock %}">
      <a href="#"><span>test</span></a>
    </li>
    <li class="has-children">
      <a href="#"><span></span></a>
      <ul class="dropdown arrow-top">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
  </li>
</ul>
  </ul>
{% endblock %}

{% block body %}


{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
