{% extends 'hf.html' %} 
{% load static %} 
{% block head %}

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="stylesheet" href="{% static 'login/css/style.css' %}" />

<link type="text/css" rel="stylesheet" href="{% static 'booking/css/style.css' %}" />

<style>
  .contain{
    opacity: .8;
    margin: 13% 15% 0% 15% ;
    padding-bottom: 5%;
    display: flex;
  }
  td,tr{
    padding: 1%;
  }

  .usertable{
    width: 100%;
    padding-right: 10%;
  }

  table {
    width: 100%;
    margin: 10% 18% 5% 5%;
  }

  .thead-dark{
    font-size: x-large;
  }

  .tabdat{
    background-color: rgba(6, 6, 6, 0.573);
    font-size:  medium;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
  }
  .tabdat td,th{
    border-bottom: 2px solid white;
    border-right: 1px solid grey;
  }

  .delbtn{
    border-radius: 5%;
    border-left: 10px solid rgb(25, 0, 255);
    border-top: 1px double rgb(255, 255, 255);
    border-bottom: 1px double rgb(255, 255, 255);
    background-color:  rgba(154, 147, 247, 0.4);
    color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-left: 5%;
    padding: 5% 0 5% 1%;
  }

  .delbtn:hover{
    background-color:  rgba(0, 0, 0, 0.4);
    border-left: 5px double rgb(25, 0, 255);
    border-right: 1px double rgb(25, 0, 255);

  }

</style>


{% endblock %} 
{% block title %}Home{% endblock %} 
{% block bodyedit %}
class="img" style="background-image: url({% static 'login/images/bgu.jpg' %});" 
{% endblock %} 
{% block ul %}
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block" style="padding-right: 8%;">
    <!-- <li class="has-children">
        <a href="about.html"><span>Dropdown</span></a>
        <ul class="dropdown arrow-top">
          <li><a href="#">Menu One</a></li>
          <li><a href="#">Menu Two</a></li>
          <li><a href="#">Menu Three</a></li>
          <li class="has-children">
            <a href="#">Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li><a href="#">Menu Four</a></li>
            </ul>
          </li>
        </ul>
      </li> -->

    <li class="{% block ad1 %} {% endblock %}">
      <a href="/user/mybookings"><span>My Bookings</span></a>
    </li>
    <li class="{% block ad2 %} active {% endblock %}">
      <a href="/user/viewoffers/"><span>Offers</span></a>
    </li>
    <li class="has-children {% block ad3 %} {% endblock %}">
      <a href="#"><span>Orders</span></a>
      <ul class="dropdown arrow-top">
        <li><a href="/user/myorders/">My Orders</a></li>
        <li><a href="/user/orders/">Details</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#"><span>Profile</span></a>
      <ul class="dropdown arrow-top">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
  </li>
</ul>
  </ul>
{% endblock %}
{% block body %}


{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" style="z-index:1;width:35%;position: fixed; margin-top: 7%;margin-bottom: 0%;">
      {{ message }}
    </div>    
    {% endfor %}
{% endif %}

<section class="usertable">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Booking ID</th>
          <th scope="col">Worker Name</th>
          <th scope="col">Worker Phone</th>
          <th scope="col">Rate</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tabdat">
        {% for x in patofr %}
        <tr>{% for y in bids %}
                {% if y.bid == x.bid and y.status == 'b' %}
          <td>{{ x.bid }}</td>
          <td>{{ x.wname }}</td>
          <td>{{ x.wphone }}</td>
          <td>{{ x.rate }}</td>
          <td>
            <form action="/user/acceptoffer/" method="post">
              {% csrf_token %}
              <input type="number" name="pid" style="display: none;"  value="{{ x.pid }}">
              <input type="number" name="bid" style="display: none;"  value="{{ x.bid }}">
              <input type="submit" class="delbtn" value="Accept offer" onclick="return confirm('Accept the offer! Are you sure?');">
            </form>
          </td>
                {% endif %}
        </tr>{% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </section>

{% endblock %} {% block js %}
<script src="{% static 'login/js/jquery.min.js' %}"></script>
<script src="{% static 'login/js/popper.js' %}"></script>
<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
